# Dependencia  instaladas
node_modules/

# Archivos generados
dist/
coverage/
*.log

# Variables de entorno y secretos locales
.env
.env.*
!.env.example

# Cliente generado por Prisma
apps/api/src/generated/prisma/